* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

body.dark-mode {
  --color-background: #2b3945;
  --color-text: #ffffff;
}

body.light-mode {
  --color-background: #ffffff;
  --color-text: #111517;
}
